@use 'variables'as var;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 15px var.$font-tilt;
}

.container {
    width: 320px;
    background: linear-gradient(#b0b5e9, white);
    margin: auto;

    @media (min-width: 321px) {
        width: 360px;
    }
    @media (min-width: 361px) {
        width: 375px;
    }
    @media (min-width: 376px) {
        width: 393px;
    }
    @media (min-width: 394px) {
        width: 414px;
    }
    @media (min-width: 415px) {
        width: 428px;
    }

    .header {
        height: 110px;
        margin: 0 0 60px;
        border-bottom: 1px solid gainsboro;
        padding-top: 5px;

        &__photo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 2px;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 1px solid gray;
        }
    }

    .about-me {
        &__title {
            font: 16px var.$font-roboto;
            font-weight: 300;
            color: gray;
            text-align: center;
        }

        &__description {
            font: 24px var.$font-roboto;
            font-weight: 700;
            text-align: center;
            color: lightslategrey;
        }

        &__btn-icons {
            width: 250px;
            margin: 50px auto;
            display: flex;
            justify-content: space-between;
        }

        &__icon {
            color: white;

            &:hover {
                cursor: pointer;
                color:gray;
            }
        }
    }

    .studies {
        padding: 20px;
        border-bottom: 1px dashed white;
        background-image: url('../images/blob1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;        

        &__title {
            font: 24px var.$font-tilt;
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
            background: linear-gradient(to right, white, transparent);
            color: gray;
            margin-bottom: 20px;
        }

        .profesion {
            margin-bottom: 15px;
            &__name{
                margin: auto;
                width: 245px;
                text-align: center;
                color: gray;
                margin-bottom: 15px;
            }
            &__institute{
                color: cadetblue;
                text-transform: uppercase;
            }
            &__description{
                font: 14px var.$font-roboto;
                font-weight: 400;
                color: gray;
                margin-top: 5px;
                text-align: justify;
            }
            &__year{
                color: gray;
                text-align: end;
            }
        }
    }

    .experiences{
        @extend .studies;
        &__title{
            @extend .studies__title;
        }
    }    
}